<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>51FA6C6B-1AE3-447F-B63B-726282BBDAA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27A2E112-A60B-43F8-BEB5-76528E7206FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A441B428-FD47-47FA-908D-E444A0E9E882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27A2E112-A60B-43F8-BEB5-76528E7206FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Open mail app of preference</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A441B428-FD47-47FA-908D-E444A0E9E882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Mailbox (Beta).app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>27A2E112-A60B-43F8-BEB5-76528E7206FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mail</string>
				<key>text</key>
				<string>Open Email app of choice</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51FA6C6B-1AE3-447F-B63B-726282BBDAA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>27A2E112-A60B-43F8-BEB5-76528E7206FF</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>51FA6C6B-1AE3-447F-B63B-726282BBDAA3</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>A441B428-FD47-47FA-908D-E444A0E9E882</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
