<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>51FA6C6B-1AE3-447F-B63B-726282BBDAA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A24D6947-5CCA-4B71-9DE0-66E892BFB720</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A441B428-FD47-47FA-908D-E444A0E9E882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A24D6947-5CCA-4B71-9DE0-66E892BFB720</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Search or open maps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Maps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A441B428-FD47-47FA-908D-E444A0E9E882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.google.se/maps/place/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A24D6947-5CCA-4B71-9DE0-66E892BFB720</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>maps</string>
				<key>text</key>
				<string>Search/Open maps</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51FA6C6B-1AE3-447F-B63B-726282BBDAA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>51FA6C6B-1AE3-447F-B63B-726282BBDAA3</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>A24D6947-5CCA-4B71-9DE0-66E892BFB720</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>A441B428-FD47-47FA-908D-E444A0E9E882</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
