<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6BE95EE4-66F5-4AE0-97C7-D8FCDCE12A18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79ABB08A-191D-413B-A5BE-86683AEDC81A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>79ABB08A-191D-413B-A5BE-86683AEDC81A</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Lock from Keyboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lock</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>79ABB08A-191D-413B-A5BE-86683AEDC81A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6BE95EE4-66F5-4AE0-97C7-D8FCDCE12A18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6BE95EE4-66F5-4AE0-97C7-D8FCDCE12A18</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>79ABB08A-191D-413B-A5BE-86683AEDC81A</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
